@font-face
{
    font-family:WorkSans-Thin;
    src: url (WorkSans-Thin.ttf);
}
*{
    box-sizing: border-box;
    font-family: WorkSans-Thin;
}
body
{
    margin:0;
    background: white;
}

header 
{
    background: linear-gradient(to right, #AD1457,#6A1B9A);
    color: white;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
    
}
header span
{
    display: inline-block;
    margin-left: 5px;
}
header input[type=text] 
{
    display: inline-block;
    width: 160px;
    margin: 27px 5px 0 10px;
    border: 2px solid orangered;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 2px 3px; 
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    transition: width 0.5s ease-in-out;
}
header input[type=submit] 
{
    margin-top: 32px;
    color: white;
    font-size: 16px;
    background-color: orangered;
    width: 90px;
    height: 30px;
    border: none;
    display: inline-block;
}



header input[type=text]:focus 
{
    width: 25%;
}
header .button
{
    color: white;
    font-size: 16px;
    background-color: orangered;
    width: 90px;
    height: 30px;
    border: none;
    float: right;
    margin: -60px 20px 0 0;
}
header .button:hover,input[type=submit]:hover
{
    background-color: #ff8566;
     
}
header img 
{
    display: block;
    width: 30%;
    height: 100%;
   /* border:3px solid orangered;*/
    margin: auto;
    margin-top: -113px;
    padding-top: 10px;
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: orangered;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*SLIDESHOW*/
.mySlides {display:none}

.slideshow-container 
{
  max-width: 100%;
  position: relative;
  top: 105px;
}
.myslides img
{
    max-width: 100%;
    max-height: 500px;
}
.prev, .next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover 
{
  background-color: rgba(0,0,0,0.8);
}


.text 
{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext 
{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot 
{
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover 
{
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.offer
{
    position: relative;
    top:70px;
    max-width: 100%;
   /* border: 2px solid orangered;*/
    max-height: 220px;
    text-align: center;
}
.offer img
{
    width: 33.13%;
    display: inline;
    max-height: 216px;
}
.offer span
{
    display: block;
    position: absolute;
    top: 0;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.8);
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
.prodcontainer
{
    /*border: 2px solid orangered;*/
    max-width: 100%;
    position: relative;
    top: 75px;
    padding-top: 2px;
}

.prodbox
{
    /*border: 2px solid orangered;*/
     position: relative;
    width: 19.755%;
     display: inline-block;
}

.prodbox img
{
   
  width: 100%;
  height: auto;
}

.overlay 
{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.prodbox:hover .overlay {
  bottom: 0;
  height: 100%;
}
.desc {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    text-align: center;
}
.shop_btn
{
   color: white;
    font-size: 16px;
    background-color: orangered;
    width: 90px;
    height: 30px;
    border: none;
}

.shop_btn:hover
{
     background-color: #ff8566;
}

.tdecor
{
    text-decoration: none;
}


.footer 
{
    background-color:black;
    width: 100%;
    height: 210px;
    /*border: 2px solid green;*/
    position: relative;
    bottom: 0;
    top: 80px;
    color: white;
    padding-left: 3px;
}
.column
{
    width:33.1%;
   /* border: 2px solid orangered;*/
    display: inline-block;
    padding-top: -40px;
    padding-left: 20px;
    height: 205px;
}
.column:first-child img
{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.column:nth-child(2)
{
    position: absolute;
    top: 0;
    margin-left: 3px;
}
.column:nth-child(2) p
{
    width: 70%;
}
.column:nth-child(2) img
{
    position: absolute;
    height: 70px;
    width: 90px;
    display: block;
}
.column:nth-child(2) img:nth-last-child(2)
{
    top:110px;
    right: 20px;
}
.column:nth-child(2) img:last-child
{
    top:20px;
    right: 20px;
}


.column:last-child
{
    position: absolute;
    top: 0;
    margin-left: 451px;
}
.subscribe
{
    width: 50%;
    border: 2px solid orangered;
    padding: 6px 20px 4px 10px;
    margin-left: 40px;
    display: inline-block;
}
.subscribe_btn
{
   color: white;
    font-size: 16px;
    background-color: orangered;
    width: 90px;
    height: 30px;
    border: none;
    display: inline-block;
}

.subscribe_btn:hover
{
     background-color: #ff8566;
}